.body{
    background-image: url('./img/фон.png');
}
.productArea{
    max-width: 1320;
    padding: 20px;
    border-radius: 3%;
    border: 5px solid rgb(255, 247, 0);
    background-color: white; 
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
}

.header{
    background-color: rgb(255, 166, 0);
    border-radius: 5%;
    font-family: 'Shizuru', cursive;
    display: flex;
    justify-content: space-around;
    & .card1{

    }
    & .links{
        font-weight: 700;
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & a{
            font-family: 'Shizuru', cursive;
            text-decoration: none;
            color: black;
        }

    }
    & .user{
        width: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
            & a{
                font-weight: 700;
                font-family: 'Shizuru', cursive;
                text-decoration: none;
                color: black;
            }
    }
}

.cards_flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    & .card{
        width: 200px;
        height: 450px;
        border: 1px solid black;
        border-radius: 5%;
        margin-top: 20px;
        background-color: rgb(255, 246, 196);
        padding:1%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        // & .h1{
            
        // }
        & .p{
            font-family: 'Roboto', sans-serif;
        }
        // & .h3{
            
        // }
        & .img{
            width: 200px;
            height: 250px;
        }
        & .button{
            font-weight: 700;
            color: white;
            text-decoration: none;
            padding: .8em 1em calc(.8em + 3px);
            border-radius: 3px;
            background: rgb(64,199,129);
            box-shadow: 0 -3px rgb(53,167,110) inset;
            transition: 0.2s;
        }
        & .button:hover{
            background-color: aqua;
            box-shadow: 0 -3px aqua inset;
        }
        & .button:active{
            background-color: red;
            box-shadow: 0 -3px  red inset;
        }
    }
}